# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\wulkanowy-bridge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

jsLinters
discord.xml
